.change-password-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f6eaea;
  padding: 30px;
  border: 3px solid #2a9bd6;
  border-radius: 8px;
  text-align: center;
}
.change-password-container h2 {
  color: #b22222;
  margin-bottom: 20px;
}

.change-password-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left; // Cho label trái mà form vẫn giữa
}

.change-password-container input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.err {
  color: red;
  font-size: 14px;
}

.change-password-container button {
  width: 150px;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0d6efd;
  color: white;
  cursor: pointer;
}
